/* .choose-plan {    
    margin-bottom: 150px;
}

.choose-plan__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.chose-plan__subtitle {
    margin: 0;
    text-align: center;
    font: var(--item-desc-section);
    color: var(--grey-color);
    max-width: 555px;
}

.choose-plan__list {
    display: flex;
    gap: 50px;
    justify-content: center;

}

.plan__list__item__img {
    width: 144px;
    height: 165px;
}

.chose-plan__list__item {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 80px 67px 50px 67px;
    width: 100%;
    max-width: 330px;
    height: 760px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.plan__list__title {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: var(--dark-color);
}

.plan__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto;
}

.plan__list__item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: var(--grey-color);
}

.under__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.strong__price {
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
}

.under__price {
    font-weight: 400;
    font-size: 25px;
    line-height: 120%
}

.under__item__btn {
    padding: 13px 63px;
    font-weight: 700;
    font-size: 16px;
} */