.header {
    padding-top: 45px;
    margin-bottom: 88px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 40px;
}

.header__logo-img {
    width: 35px;
    height: 36px;
    vertical-align: middle;
    margin-right: 10px;
}

.header__logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #0b132a;
    align-items: center;
}

.header__logo-strong {
    font-weight: 700;
}

.header__nav-item {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 14px;
    line-height: 214%;
    color: var(--grey-color);
}

.header__nav-link {
    font-weight: 400;
    font-size: 16px;
    color: #4f5665;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
    font-size: 16px;
    color: #0b132a;
}

.header__btn {
    color: rgba(245, 56, 56, 1);
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(245, 56, 56, 1);

    cursor: pointer;
}