:root {
     /* COLORS */
    --dark-color: #0b132a;
    --grey-color:  #4f5665;
     /* SETTINGS */
     
     /* FONTS */
     --font-family-base: 'Rubik', sans-serif;
     --section-title: normal 500 35px/143% var(--font-family-base);
     --item-desc-section: normal 400 16px/188% var(--font-family-base);
     /* --item-desc-desktop: normal 400 16px/32px var(--font-family-base);
     --item-title-desktop: normal 700 24px/32px var(--font-family-base);
     --btn-font-desktop: normal 700 23px/100% var(--font-family-base);
     --headfoot-desc-desktop: normal 600 18px/100% var(--font-family-base); */ 
}